# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


config.json
node_modules
coverage
typings/**
!typings/custom.d.ts
*.js
*.d.ts
*.js.map
!dynamicsnode.d.ts
!docs/*.js
!docs/**/*.js
.vscode
npm-debug.log
tmp
#imdone tasks
.imdone/
src/bin
.nyc_output
*.suo
*.csproj.user
src/cs/packages
src/cs/DynamicsNode/bin
src/cs/DynamicsNode/obj
